

/* Disable scrolling and make canvas fully fullscreen */
html, body {
    margin:0;
    height:100%;
    overflow: hidden;
}

canvas
{
    width:100%;
    height:100%;
    border: 1px solid #000000;
}

@font-face {
    font-family: 'Pixeloid';
    src: url("../font/pixeloid.ttf") format('truetype');
}